Import data for GDP

In [ ]:
#create request only for obtain the value of headers using specific year
boliviaCostLivingRequest = requests.get(urlCostLivingForHeaders)
boliviaSoup = BeautifulSoup(boliviaCostLivingRequest.text, "html5lib")

#Create the column Names for data frame
for tag in boliviaSoup.find_all('table'):
        if (tag.get('id') == "t2"):
            for head in tag.thead.tr:
                name = head.string;
                if (name not in ['\n\t','\n\t\t']):
                    columnNames.append(name)
#Create a data frame with the table of Numbeo web page
dfBoliviaCostLiving = pd.DataFrame(columns=columnNames)
dfBoliviaCostLiving

In [420]:
url="https://www.rug.nl/ggdc/docs/pwt91.xlsx"
gdpData=pd.read_excel(url, sheetname = 'Data')

In [421]:
boliviaGdpData = pd.DataFrame(gdpData[gdpData.countrycode == 'BOL'].reset_index(drop=True))
boliviaGdpData.drop(labels=['countrycode', 'country', 'currency_unit', 
       'avh', 'hc', 'ccon', 'cda', 'cgdpe', 'cgdpo', 'cn', 'ck',
       'ctfp', 'cwtfp', 'rgdpna', 'rconna', 'rdana', 'rnna', 'rkna', 'rtfpna',
       'rwtfpna', 'labsh', 'irr', 'delta', 'xr', 'pl_con', 'pl_da', 'pl_gdpo',
       'i_cig', 'i_xm', 'i_xr', 'i_outlier', 'i_irr', 'cor_exp', 'statcap',
       'csh_c', 'csh_i', 'csh_g', 'csh_x', 'csh_m', 'csh_r', 'pl_c', 'pl_i',
       'pl_g', 'pl_x', 'pl_m', 'pl_n', 'pl_k'], axis=1,inplace = True)

In [422]:
boliviaGdpData = boliviaGdpData.query('2009 <= year <= 2019')
boliviaGdpData = boliviaGdpData.append({
                        'year' : int(2018),
                        'rgdpe' : round(boliviaGdpData['rgdpe'].mean(),6),
                        'rgdpo' : round(boliviaGdpData['rgdpo'].mean(),6),
                        'pop' : round(boliviaGdpData['pop'].mean(),6),
                        'emp' : round(boliviaGdpData['emp'].mean(),6)
                    }, ignore_index=True)
boliviaGdpData = boliviaGdpData.append({
                        'year' : int(2019),
                        'rgdpe' : round(boliviaGdpData['rgdpe'].mean(),6),
                        'rgdpo' : round(boliviaGdpData['rgdpo'].mean(),6),
                        'pop' : round(boliviaGdpData['pop'].mean(),6),
                        'emp' : round(boliviaGdpData['emp'].mean(),6)
                    }, ignore_index=True)

      year         rgdpe         rgdpo        pop       emp
0   2009.0  45122.804688  42899.878906   9.758748  4.297407
1   2010.0  50630.449219  47673.113281   9.918242  4.494414
2   2011.0  56204.390625  53682.597656  10.078343  4.596373
3   2012.0  60002.167969  57460.835938  10.239004  4.514907
4   2013.0  63075.371094  61467.937500  10.400264  4.624445
5   2014.0  63521.542969  61645.625000  10.562159  4.879351
6   2015.0  61950.015625  59346.691406  10.724705  4.637383
7   2016.0  63838.687500  61550.648438  10.887882  4.754647
8   2017.0  68428.945312  64520.023438  11.051600  4.857428
9   2018.0  59197.152778  56694.150174  10.402328  4.628484
10  2019.0  59197.152778  56694.150174  10.402328  4.628484

In [461]:
boliviaMergeData = pd.concat([boliviaOnlyFiltered,boliviaGdpData], axis=1, sort = False)
boliviaMergeData.drop(labels=['year'], axis=1,inplace = True)
boliviaMergeData = boliviaMergeData.round({'rgdpe':2,'rgdpo':2,'pop':2,'emp':2})
boliviaMergeData

,Year,Cost of Living Index,Rent Index,Groceries Index,Restaurant Price Index,rgdpe,rgdpo,pop,emp
0,2009,46.72,21.76,27.09,37.16,45122.80,42899.88,9.76,4.30
1,2010,38.01,19.41,26.40,32.87,50630.45,47673.11,9.92,4.49
2,2011,37.41,15.21,28.32,23.36,56204.39,53682.60,10.08,4.60
3,2012,39.16,13.51,30.75,27.44,60002.17,57460.84,10.24,4.51
4,2013,41.50,12.48,36.42,21.48,63075.37,61467.94,10.40,4.62
5,2014,40.98,13.56,36.85,24.62,63521.54,61645.62,10.56,4.88
6,2015,40.02,10.84,33.95,26.01,61950.02,59346.69,10.72,4.64
7,2016,37.44,10.02,30.58,24.42,63838.69,61550.65,10.89,4.75
8,2017,38.65,11.07,32.13,27.97,68428.95,64520.02,11.05,4.86
9,2018,36.53,9.87,28.84,28.52,59197.15,56694.15,10.40,4.63
10,2019,34.37,10.88,26.90,27.96,59197.15,56694.15,10.40,4.63